In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r"C:\Users\User\Downloads\world_population.csv")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [ ]:
 # Tapşırıq 1: df-dən sadəcə "Country", "Continent", "Population" sütunlarını seç.

In [10]:
df[['Country','Continent','2022 Population']]

               Country Continent  2022 Population
0          Afghanistan      Asia       41128771.0
1              Albania    Europe        2842321.0
2              Algeria    Africa       44903225.0
3       American Samoa   Oceania          44273.0
4              Andorra    Europe          79824.0
..                 ...       ...              ...
229  Wallis and Futuna   Oceania          11572.0
230     Western Sahara    Africa         575986.0
231              Yemen      Asia       33696614.0
232             Zambia    Africa       20017675.0
233           Zimbabwe    Africa       16320537.0

[234 rows x 3 columns]

In [11]:
df.filter(items=['Country','Continent','2022 Population'])

               Country Continent  2022 Population
0          Afghanistan      Asia       41128771.0
1              Albania    Europe        2842321.0
2              Algeria    Africa       44903225.0
3       American Samoa   Oceania          44273.0
4              Andorra    Europe          79824.0
..                 ...       ...              ...
229  Wallis and Futuna   Oceania          11572.0
230     Western Sahara    Africa         575986.0
231              Yemen      Asia       33696614.0
232             Zambia    Africa       20017675.0
233           Zimbabwe    Africa       16320537.0

[234 rows x 3 columns]

In [ ]:
# Tapşırıq 2: Adında "Population" olan bütün sütunları seç

In [12]:
df.filter(regex='Population')

,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,World Population Percentage
0,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,0.52
1,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,0.04
2,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,0.56
3,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,0.00
4,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,0.00
...,...,...,...,...,...,...,...,...,...
229,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,0.00
230,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,0.01
231,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,0.42
232,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,0.25
233,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,0.20

In [ ]:
 # Tapşırıq 3: Sütun adı yalnız 4 hərfdən ibarət olan bütün sütunları seç

In [28]:
df.filter(regex='^\w{4}$')

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\User\AppData\Local\Temp\ipykernel_14224\3310252025.py:1: SyntaxWarning: invalid escape sequence '\w'
  df.filter(regex='^\w{4}$')

     Rank CCA3
0      36  AFG
1     138  ALB
2      34  DZA
3     213  ASM
4     203  AND
..    ...  ...
229   226  WLF
230   172  ESH
231    46  YEM
232    63  ZMB
233    74  ZWE

[234 rows x 2 columns]

In [26]:
df.filter(regex=r'^[A-Za-z0-9_]{4}$')

     Rank CCA3
0      36  AFG
1     138  ALB
2      34  DZA
3     213  ASM
4     203  AND
..    ...  ...
229   226  WLF
230   172  ESH
231    46  YEM
232    63  ZMB
233    74  ZWE

[234 rows x 2 columns]

In [ ]:
 # Tapşırıq 4: Yalnız "Germany", "France", "Italy" olan sətirləri seç.

In [29]:
df[df['Country'].isin(['Germany','France','Italy'])]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
68,23,FRA,France,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81
74,19,DEU,Germany,Berlin,Europe,83369843.0,83328988.0,82073226.0,81325090.0,81551677.0,79370196.0,77786703.0,78294583.0,357114.0,233.4544,0.9995,1.05
99,25,ITA,Italy,Rome,Europe,59037474.0,59500579.0,60232906.0,59822450.0,56966397.0,56756561.0,56329482.0,53324036.0,301336.0,195.9191,0.9966,0.74

In [ ]:
# or

In [31]:
country_list=['Germany','France','Italy']
df[df.Country.isin(country_list)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
68,23,FRA,France,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81
74,19,DEU,Germany,Berlin,Europe,83369843.0,83328988.0,82073226.0,81325090.0,81551677.0,79370196.0,77786703.0,78294583.0,357114.0,233.4544,0.9995,1.05
99,25,ITA,Italy,Rome,Europe,59037474.0,59500579.0,60232906.0,59822450.0,56966397.0,56756561.0,56329482.0,53324036.0,301336.0,195.9191,0.9966,0.74

In [ ]:
# Tapşırıq 5: Əhalisi (2022 Population) 50 milyondan çox olan ölkələri seç.

In [34]:
df['Country'][df['2022 Population']>50000000]

29

In [40]:
df.loc[df['2022 Population']>50000000,['Country','2022 Population']].head()

       Country  2022 Population
16  Bangladesh     1.711864e+08
27      Brazil     2.153135e+08
41       China     1.425887e+09
42    Colombia     5.187402e+07
55    DR Congo     9.901021e+07

In [45]:
df.query('`2022 Population` > 50000000').head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
42,28,COL,Colombia,Bogota,South America,5.187402e+07,5.093066e+07,4.711973e+07,NaN,3.921514e+07,3.260139e+07,26176195.0,20905254.0,1141748.0,45.4339,1.0069,0.65
55,15,COD,DR Congo,Kinshasa,Africa,9.901021e+07,9.285316e+07,7.865690e+07,6.639126e+07,4.861632e+07,3.598754e+07,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24

In [ ]:
 # Tapşırıq 6: Avropada (Continent == "Europe") yerləşən və əhalisi 30 milyondan çox olan ölkələri seç.

In [52]:
df[(df['Continent']=='Europe') & (df['2022 Population']>30000000)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
68,23,FRA,France,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81
74,19,DEU,Germany,Berlin,Europe,83369843.0,83328988.0,82073226.0,81325090.0,81551677.0,79370196.0,77786703.0,78294583.0,357114.0,233.4544,0.9995,1.05
99,25,ITA,Italy,Rome,Europe,59037474.0,59500579.0,60232906.0,59822450.0,56966397.0,56756561.0,56329482.0,53324036.0,301336.0,195.9191,0.9966,0.74
164,37,POL,Poland,Warsaw,Europe,39857145.0,38428366.0,38553146.0,38597353.0,38504431.0,38064255.0,35521429.0,32482943.0,312679.0,127.4698,1.0404,0.50
171,9,RUS,Russia,Moscow,Europe,144713314.0,145617329.0,144668389.0,143242599.0,146844839.0,148005704.0,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
196,30,ESP,Spain,Madrid,Europe,47558630.0,47363807.0,46431342.0,46572772.0,40741651.0,38889889.0,37491666.0,33792617.0,505992.0,93.9909,1.0015,0.60
218,38,UKR,Ukraine,Kiev,Europe,39701739.0,43909666.0,44982564.0,45683020.0,48879755.0,51589817.0,49973920.0,47279086.0,603500.0,65.7858,0.9120,0.50
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85

In [ ]:
# or

In [53]:
df.query("Continent=='Europe' and `2022 Population`>30000000")

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
68,23,FRA,France,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81
74,19,DEU,Germany,Berlin,Europe,83369843.0,83328988.0,82073226.0,81325090.0,81551677.0,79370196.0,77786703.0,78294583.0,357114.0,233.4544,0.9995,1.05
99,25,ITA,Italy,Rome,Europe,59037474.0,59500579.0,60232906.0,59822450.0,56966397.0,56756561.0,56329482.0,53324036.0,301336.0,195.9191,0.9966,0.74
164,37,POL,Poland,Warsaw,Europe,39857145.0,38428366.0,38553146.0,38597353.0,38504431.0,38064255.0,35521429.0,32482943.0,312679.0,127.4698,1.0404,0.50
171,9,RUS,Russia,Moscow,Europe,144713314.0,145617329.0,144668389.0,143242599.0,146844839.0,148005704.0,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
196,30,ESP,Spain,Madrid,Europe,47558630.0,47363807.0,46431342.0,46572772.0,40741651.0,38889889.0,37491666.0,33792617.0,505992.0,93.9909,1.0015,0.60
218,38,UKR,Ukraine,Kiev,Europe,39701739.0,43909666.0,44982564.0,45683020.0,48879755.0,51589817.0,49973920.0,47279086.0,603500.0,65.7858,0.9120,0.50
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85

In [ ]:
# Tapşırıq 7: Afrikada (Continent == "Africa") yerləşən və ərazisi (Area) 1 milyon km²-dən böyük olan ölkələri seç.

In [63]:
df[(df['Continent']=='Africa') & (df['Area (km²)']>1000000)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
5,42,AGO,Angola,Luanda,Africa,35588987.0,33428485.0,28127721.0,23364185.0,16394062.0,11828638.0,8330047.0,6029700.0,1246700.0,28.5466,1.0315,0.45
39,69,TCD,Chad,N'Djamena,Africa,17723315.0,16644701.0,14140274.0,11894727.0,8259137.0,5827069.0,4408230.0,3667394.0,1284000.0,13.8032,1.0316,0.22
55,15,COD,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
57,14,EGY,Egypt,Cairo,Africa,110990103.0,107465134.0,97723799.0,87252413.0,71371371.0,57214630.0,43748556.0,34781986.0,1002450.0,110.7188,1.0158,1.39
63,12,ETH,Ethiopia,Addis Ababa,Africa,123379924.0,117190911.0,102471895.0,89237791.0,67031867.0,47878073.0,34945469.0,28308246.0,1104300.0,111.7268,1.0257,1.55
115,107,LBY,Libya,Tripoli,Africa,6812341.0,6653942.0,6192235.0,6491988.0,5154790.0,4236983.0,2962720.0,1909177.0,1759540.0,3.8717,1.0114,0.09
124,59,MLI,Mali,Bamako,Africa,22593590.0,21224040.0,18112907.0,15529181.0,11239101.0,8945026.0,7372581.0,6153587.0,1240192.0,18.2178,1.0314,0.28
128,126,MRT,Mauritania,Nouakchott,Africa,4736139.0,4498604.0,3946220.0,3419461.0,2695003.0,2006027.0,1506694.0,1122198.0,1030700.0,4.5951,1.0263,0.06
148,54,NER,Niger,Niamey,Africa,26207977.0,24333639.0,20128124.0,16647543.0,11622665.0,8370647.0,6173177.0,4669708.0,1267000.0,20.6851,1.0378,0.33
193,24,ZAF,South Africa,Pretoria,Africa,59893885.0,58801927.0,55876504.0,51784921.0,46813266.0,39877570.0,29463549.0,22368306.0,1221037.0,49.0517,1.0084,0.75
198,32,SDN,Sudan,Khartoum,Africa,46874204.0,44440486.0,38171178.0,33739933.0,26298773.0,21090886.0,16673586.0,11305206.0,1886068.0,24.8529,1.0267,0.59

In [ ]:
 # Tapşırıq 8: df-i əhalisinə (Population) görə azalan sırada düz.

In [64]:
df.sort_values(by='2022 Population',ascending=False)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,234,VAT,Vatican City,Vatican City,Europe,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,733.0,752.0,1.0,510.0000,0.9980,0.00
62,159,SWZ,Eswatini,Mbabane,Africa,NaN,1.180655e+06,1.133936e+06,1.099920e+06,1.030496e+06,8.540110e+05,598564.0,442865.0,17364.0,69.2047,1.0079,0.02
154,120,NOR,Norway,Oslo,Europe,NaN,5.379839e+06,NaN,4.889741e+06,4.491202e+06,4.241636e+06,4085776.0,3875546.0,323802.0,16.7828,1.0058,0.07
157,222,PLW,Palau,Ngerulmud,Oceania,NaN,1.797200e+04,1.779400e+04,1.854000e+04,1.972600e+04,1.529300e+04,12252.0,11366.0,459.0,39.3355,1.0017,0.00
207,155,TLS,Timor-Leste,Dili,Asia,NaN,1.299995e+06,1.205813e+06,1.088486e+06,NaN,7.581060e+05,642224.0,554021.0,14874.0,90.1772,1.0154,0.02

In [ ]:
# Tapşırıq 9: df-i Rank-a görə artan sırada düz.

In [65]:
df.sort_values(by='Rank')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,230,MSR,Montserrat,Brades,North America,4.390000e+03,4.500000e+03,5.059000e+03,4.938000e+03,5.138000e+03,1.080500e+04,11452.0,11402.0,102.0,43.0392,0.9939,0.00
64,231,FLK,Falkland Islands,Stanley,South America,3.780000e+03,3.747000e+03,3.408000e+03,3.187000e+03,3.080000e+03,2.332000e+03,2240.0,2274.0,12173.0,0.3105,1.0043,0.00
150,232,NIU,Niue,Alofi,Oceania,1.934000e+03,1.942000e+03,1.847000e+03,1.812000e+03,2.074000e+03,2.533000e+03,3637.0,5185.0,260.0,7.4385,0.9985,0.00
209,233,TKL,Tokelau,Nukunonu,Oceania,1.871000e+03,1.827000e+03,1.454000e+03,1.367000e+03,1.666000e+03,1.669000e+03,1647.0,1714.0,12.0,155.9167,1.0119,0.00
226,234,VAT,Vatican City,Vatican City,Europe,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,733.0,752.0,1.0,510.0000,0.9980,0.00

In [ ]:
# Tapşırıq 10: Afrika ölkələrini əhalisinə görə azalan sırada sıralayıb, ilk 10-nu göstər.

In [69]:
df[df['Continent']=='Africa'].sort_values(by='2022 Population',ascending=False).head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
149,6,NGA,Nigeria,Abuja,Africa,218541212.0,208327405.0,183995785.0,160952853.0,122851984.0,95214257.0,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
63,12,ETH,Ethiopia,Addis Ababa,Africa,123379924.0,117190911.0,102471895.0,89237791.0,67031867.0,47878073.0,34945469.0,28308246.0,1104300.0,111.7268,1.0257,1.55
57,14,EGY,Egypt,Cairo,Africa,110990103.0,107465134.0,97723799.0,87252413.0,71371371.0,57214630.0,43748556.0,34781986.0,1002450.0,110.7188,1.0158,1.39
55,15,COD,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
205,22,TZA,Tanzania,Dodoma,Africa,65497748.0,61704518.0,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82
193,24,ZAF,South Africa,Pretoria,Africa,59893885.0,58801927.0,55876504.0,51784921.0,46813266.0,39877570.0,29463549.0,22368306.0,1221037.0,49.0517,1.0084,0.75
106,27,KEN,Kenya,Nairobi,Africa,54027487.0,51985780.0,46851488.0,41517895.0,30851606.0,23162269.0,16187124.0,11473087.0,580367.0,93.0919,1.0193,0.68
217,31,UGA,Uganda,Kampala,Africa,47249585.0,44404611.0,37477356.0,32341728.0,24020697.0,17586630.0,13284026.0,10317212.0,241550.0,195.6100,1.0304,0.59
198,32,SDN,Sudan,Khartoum,Africa,46874204.0,44440486.0,38171178.0,33739933.0,26298773.0,21090886.0,16673586.0,11305206.0,1886068.0,24.8529,1.0267,0.59
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56

In [71]:
df[df['Continent']=='Europe'].head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
12,99,AUT,Austria,Vienna,Europe,8939617.0,8907777.0,8642421.0,8362829.0,8010428.0,7678729.0,7547561.0,7465301.0,83871.0,106.5877,1.0020,0.11
18,96,BLR,Belarus,Minsk,Europe,9534954.0,9633740.0,9700609.0,9731427.0,10256483.0,10428525.0,9817257.0,9170786.0,207600.0,45.9295,0.9955,0.12
19,81,BEL,Belgium,Brussels,Europe,11655930.0,11561717.0,11248303.0,10877947.0,10264343.0,9959560.0,9828986.0,9629376.0,30528.0,381.8111,1.0038,0.15
25,137,BIH,Bosnia and Herzegovina,Sarajevo,Europe,3233526.0,3318407.0,3524324.0,3811088.0,4179350.0,4494310.0,4199820.0,3815561.0,51209.0,63.1437,0.9886,0.04
30,108,BGR,Bulgaria,Sofia,Europe,6781953.0,6979175.0,7309253.0,7592273.0,8097691.0,8767778.0,8980606.0,8582950.0,110879.0,61.1654,0.9849,0.09
46,130,HRV,Croatia,Zagreb,Europe,4030358.0,4096868.0,4254815.0,4368682.0,4548434.0,4873707.0,4680144.0,4492638.0,56594.0,71.2153,0.9927,0.05
49,158,CYP,Cyprus,Nicosia,Europe,1251488.0,1237537.0,1187280.0,1129686.0,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02
50,88,CZE,Czech Republic,Prague,Europe,10493986.0,10530953.0,10523798.0,10464749.0,10234710.0,10301192.0,10270060.0,9795744.0,78865.0,133.0627,0.9984,0.13

In [ ]:
# Tapşırıq 11: Əhalisinə (Population) görə ən böyük 5 ölkəni tap.

In [72]:
df.nlargest(5,'2022 Population')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96

In [ ]:
# Afrikanin ehali sayi 20mln-dan cox olan ilk 5 olkesini getir

In [79]:
df[(df['Continent']=='Africa') & (df['2022 Population']>20000000)].nlargest(5,'2022 Population')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
149,6,NGA,Nigeria,Abuja,Africa,218541212.0,208327405.0,183995785.0,160952853.0,122851984.0,95214257.0,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
63,12,ETH,Ethiopia,Addis Ababa,Africa,123379924.0,117190911.0,102471895.0,89237791.0,67031867.0,47878073.0,34945469.0,28308246.0,1104300.0,111.7268,1.0257,1.55
57,14,EGY,Egypt,Cairo,Africa,110990103.0,107465134.0,97723799.0,87252413.0,71371371.0,57214630.0,43748556.0,34781986.0,1002450.0,110.7188,1.0158,1.39
55,15,COD,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
205,22,TZA,Tanzania,Dodoma,Africa,65497748.0,61704518.0,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82

In [76]:
df.query("Continent=='Africa' and `2022 Population`>20000000").nlargest(5,'2022 Population')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
149,6,NGA,Nigeria,Abuja,Africa,218541212.0,208327405.0,183995785.0,160952853.0,122851984.0,95214257.0,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
63,12,ETH,Ethiopia,Addis Ababa,Africa,123379924.0,117190911.0,102471895.0,89237791.0,67031867.0,47878073.0,34945469.0,28308246.0,1104300.0,111.7268,1.0257,1.55
57,14,EGY,Egypt,Cairo,Africa,110990103.0,107465134.0,97723799.0,87252413.0,71371371.0,57214630.0,43748556.0,34781986.0,1002450.0,110.7188,1.0158,1.39
55,15,COD,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
205,22,TZA,Tanzania,Dodoma,Africa,65497748.0,61704518.0,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82

In [ ]:
# Tapşırıq 12: Ərazisinə (Area) görə ən kiçik 3 ölkəni tap.

In [81]:
df.nsmallest(3,'Area (km²)')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
226,234,VAT,Vatican City,Vatican City,Europe,510.0,520.0,564.0,596.0,651.0,700.0,733.0,752.0,1.0,510.0,0.9980,0.0
134,217,MCO,Monaco,Monaco,Europe,36469.0,36922.0,36760.0,33178.0,32465.0,30329.0,27076.0,24270.0,2.0,18234.5,0.9941,0.0
76,219,GIB,Gibraltar,Gibraltar,Europe,32649.0,32709.0,32520.0,31262.0,27741.0,27317.0,28734.0,26685.0,6.0,5441.5,0.9994,0.0

In [ ]:
# Tapşırıq 13: Əhalisi ən az olan 10 ölkəni tap və yalnız "Country" və "Population" sütunlarını göstər.

In [91]:
df.nsmallest(10,'2022 Population')[['Country','2022 Population']]

                       Country  2022 Population
226               Vatican City            510.0
209                    Tokelau           1871.0
150                       Niue           1934.0
64            Falkland Islands           3780.0
137                 Montserrat           4390.0
177  Saint Pierre and Miquelon           5862.0
173           Saint Barthelemy          10967.0
216                     Tuvalu          11312.0
229          Wallis and Futuna          11572.0
142                      Nauru          12668.0

In [92]:
df[['Country','2022 Population']].nsmallest(10,'2022 Population')

                       Country  2022 Population
226               Vatican City            510.0
209                    Tokelau           1871.0
150                       Niue           1934.0
64            Falkland Islands           3780.0
137                 Montserrat           4390.0
177  Saint Pierre and Miquelon           5862.0
173           Saint Barthelemy          10967.0
216                     Tuvalu          11312.0
229          Wallis and Futuna          11572.0
142                      Nauru          12668.0

In [ ]:
 # Tapşırıq 14: Ərazisinə (Area) görə ilk 10 ən böyük ölkəni tap və sadəcə Country və Area sütunlarını göstər.

In [95]:
df[['Country','Area (km²)']].nlargest(10,'Area (km²)')

           Country  Area (km²)
171         Russia  17098242.0
35          Canada   9984670.0
41           China   9706961.0
221  United States   9372610.0
27          Brazil   8515767.0
11       Australia   7692024.0
92           India   3287590.0
8        Argentina   2780400.0
105     Kazakhstan   2724900.0
2          Algeria   2381741.0

In [ ]:
# Tapşırıq 15: Əhalisi (Population) 50 milyondan çox olan ölkələri Area-a görə sıralayıb ilk 10-nu göstər.

In [96]:
df[df['2022 Population']>50000000].nlargest(10,'Area (km²)')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
55,15,COD,DR Congo,Kinshasa,Africa,9.901021e+07,9.285316e+07,7.865690e+07,6.639126e+07,4.861632e+07,3.598754e+07,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
94,17,IRN,Iran,Tehran,Asia,8.855057e+07,8.729019e+07,8.179084e+07,7.537386e+07,6.554438e+07,5.579363e+07,38520664.0,28449705.0,1648195.0,53.7258,1.0071,1.11
193,24,ZAF,South Africa,Pretoria,Africa,5.989388e+07,5.880193e+07,5.587650e+07,5.178492e+07,4.681327e+07,3.987757e+07,29463549.0,22368306.0,1221037.0,49.0517,1.0084,0.75

In [ ]:
# Tapşırıq 16: Avropada yerləşən (Continent == "Europe") ölkələri əhalisinin sıxlığına (Population Density) görə sıralayıb ilk 5-ni göstər.

In [101]:
df[df['Continent']=='Europe'].nlargest(5,'Population Density')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population Density
134,217,MCO,Monaco,Monaco,Europe,36469.0,36922.0,36760.0,33178.0,32465.0,30329.0,27076.0,24270.0,2.0,18234.5000,0.9941,0.00,18234.500000
76,219,GIB,Gibraltar,Gibraltar,Europe,32649.0,32709.0,32520.0,31262.0,27741.0,27317.0,28734.0,26685.0,6.0,5441.5000,0.9994,0.00,5441.500000
125,173,MLT,Malta,Valletta,Europe,533286.0,515357.0,456579.0,418755.0,399212.0,365392.0,333587.0,315414.0,316.0,1687.6139,1.0124,0.01,1687.613924
103,195,JEY,Jersey,Saint Helier,Europe,110778.0,108319.0,100561.0,96151.0,86192.0,82874.0,75124.0,68347.0,116.0,954.9828,1.0106,0.00,954.982759
83,207,GGY,Guernsey,Saint Peter Port,Europe,63301.0,62794.0,61629.0,60782.0,59114.0,57727.0,52860.0,52656.0,78.0,811.5513,1.0037,0.00,811.551282

In [ ]:
 # Tapşırıq 17: Həm əhalisinə (Population) görə azalan, həm də Area görə artan sırada ölkələri düz və ilk 10-nu göstər.

In [104]:
df.sort_values(by=['2022 Population','Area (km²)'],ascending=[False,True]).head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population Density
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88,146.893280
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77,431.067491
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24,36.093453
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45,144.652853
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96,267.401807
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74,236.575863
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70,25.284099
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15,1160.035048
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81,8.463637
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60,64.908241

In [109]:
df.rename(columns={'Area (km²)':'Area'},inplace=True)

In [110]:
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area,Density (per km²),Growth Rate,World Population Percentage,Population Density
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,63.058692
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04,98.870217
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56,18.853110
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00,222.477387
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00,170.564103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00,81.492958
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01,2.165361
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,63.823213
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25,26.597603
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20,41.766461

In [ ]:
# Tapşırıq 18: Əhalisi (Population) 10 milyondan az, lakin ərazisi (Area) 500,000 km²-dən çox olan ölkələri seç və
# onları sahəsinə görə azalan sırada göstər.

In [113]:
df.query("`2022 Population`<10000000 and Area>500000").sort_values(by='Area',ascending=False)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area,Density (per km²),Growth Rate,World Population Percentage,Population Density
78,208,GRL,Greenland,Nuuk,North America,56466.0,56026.0,55895.0,56351.0,56184.0,55599.0,50106.0,45434.0,2166086.0,0.0261,1.0040,0.00,0.026068
115,107,LBY,Libya,Tripoli,Africa,6812341.0,6653942.0,6192235.0,6491988.0,5154790.0,4236983.0,2962720.0,1909177.0,1759540.0,3.8717,1.0114,0.09,3.871660
135,134,MNG,Mongolia,Ulaanbaatar,Asia,3398366.0,3294335.0,2964749.0,2702520.0,2450979.0,2161433.0,1697780.0,1293880.0,1564110.0,2.1727,1.0151,0.04,2.172715
128,126,MRT,Mauritania,Nouakchott,Africa,4736139.0,4498604.0,3946220.0,3419461.0,2695003.0,2006027.0,1506694.0,1122198.0,1030700.0,4.5951,1.0263,0.06,4.595070
141,145,NAM,Namibia,Windhoek,Africa,2567012.0,2489098.0,2282704.0,2099271.0,1819141.0,1369011.0,975994.0,754467.0,825615.0,3.1092,1.0146,0.03,3.109212
38,117,CAF,Central African Republic,Bangui,Africa,5579144.0,5343020.0,4819333.0,4660067.0,3759170.0,2809221.0,2415276.0,2067356.0,622984.0,8.9555,1.0224,0.07,8.955517
26,144,BWA,Botswana,Gaborone,Africa,2630296.0,2546402.0,2305171.0,2091664.0,1726985.0,1341474.0,938578.0,592244.0,582000.0,4.5194,1.0162,0.03,4.519409

In [ ]:
# Tapsiriq 19: Əhalisinin sıxlığı (Population Density) orta sıxlıqdan çox olan və Area-i median dəyərdən az olan ölkələri tap, 
# onları əhalisinə görə azalan sırada göstər.

In [124]:
mean=round(df['Population Density'].mean())
median=round(df['Area'].median())

df.query("`Population Density`>@mean and Area<@median").sort_values(by='2022 Population',ascending=False)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area,Density (per km²),Growth Rate,World Population Percentage,Population Density
203,57,TWN,Taiwan,Taipei,Asia,23893394.0,23821464.0,23512136.0,23083083.0,22194731.0,20586174.0,18100281.0,14957870.0,36193.0,660.1662,1.0014,0.30,660.166165
172,76,RWA,Rwanda,Kigali,Africa,13776698.0,13146362.0,11642959.0,10309031.0,8109989.0,7319962.0,5247532.0,3896367.0,26338.0,523.0731,1.0234,0.17,523.073050
32,78,BDI,Burundi,Bujumbura,Africa,12889576.0,12220227.0,10727148.0,9126605.0,6307659.0,5483793.0,4312834.0,3497834.0,27834.0,463.0874,1.0270,0.16,463.087447
89,104,HKG,Hong Kong,Hong Kong,Asia,7488865.0,7500958.0,7399838.0,7132438.0,6731195.0,5838574.0,4978544.0,3955072.0,1104.0,6783.3922,0.9992,0.09,6783.392210
187,113,SGP,Singapore,Singapore,Asia,5975689.0,5909869.0,5650018.0,5163590.0,4053602.0,3022209.0,2400729.0,2061831.0,710.0,8416.4634,1.0058,0.07,8416.463380
112,119,LBN,Lebanon,Beirut,Asia,5489739.0,5662923.0,6398940.0,4995800.0,4320642.0,3593700.0,2963702.0,2381791.0,10452.0,525.2334,0.9816,0.07,525.233352
158,122,PSE,Palestine,Ramallah,Asia,5250072.0,5019401.0,4484614.0,3992278.0,3139954.0,2124609.0,1453620.0,1118241.0,6220.0,844.0630,1.0227,0.07,844.063023
15,154,BHR,Bahrain,Manama,Asia,1472233.0,1477469.0,1362142.0,1213645.0,711442.0,517418.0,362595.0,222555.0,765.0,1924.4876,1.0061,0.02,1924.487582
129,157,MUS,Mauritius,Port Louis,Africa,1299469.0,1297828.0,1293153.0,1283330.0,1215930.0,1090290.0,954865.0,830115.0,2040.0,636.9946,1.0004,0.02,636.994608
119,167,MAC,Macau,Concelho de Macau,Asia,695168.0,676283.0,615239.0,557297.0,431896.0,350227.0,245332.0,247284.0,30.0,23172.2667,1.0125,0.01,23172.266667
125,173,MLT,Malta,Valletta,Europe,533286.0,515357.0,456579.0,418755.0,399212.0,365392.0,333587.0,315414.0,316.0,1687.6139,1.0124,0.01,1687.613924
123,174,MDV,Maldives,Malé,Asia,523787.0,514438.0,435582.0,NaN,NaN,224957.0,164887.0,123243.0,300.0,1745.9567,1.0045,0.01,1745.956667
130,182,MYT,Mayotte,Mamoudzou,Africa,326101.0,305587.0,249545.0,211786.0,159215.0,92659.0,52233.0,35383.0,374.0,871.9278,1.0319,0.00,871.927807
17,186,BRB,Barbados,Bridgetown,North America,281635.0,280693.0,278083.0,274711.0,264657.0,258868.0,253575.0,241397.0,430.0,654.9651,1.0015,0.00,654.965116
103,195,JEY,Jersey,Saint Helier,Europe,110778.0,108319.0,100561.0,96151.0,86192.0,82874.0,75124.0,68347.0,116.0,954.9828,1.0106,0.00,954.982759
10,198,ABW,Aruba,Oranjestad,North America,106445.0,106585.0,104257.0,100341.0,89101.0,65712.0,62267.0,59106.0,180.0,591.3611,0.9991,0.00,591.361111
22,206,BMU,Bermuda,Hamilton,North America,64184.0,64031.0,63144.0,63447.0,61371.0,57470.0,53565.0,52019.0,54.0,1188.5926,1.0000,0.00,1188.592593
83,207,GGY,Guernsey,Saint Peter Port,Europe,63301.0,62794.0,61629.0,60782.0,59114.0,57727.0,52860.0,52656.0,78.0,811.5513,1.0037,0.00,811.551282
188,214,SXM,Sint Maarten,Philipsburg,North America,44175.0,43621.0,40205.0,33034.0,30489.0,27845.0,12243.0,6260.0,34.0,1299.2647,1.0030,0.00,1299.264706
134,217,MCO,Monaco,Monaco,Europe,36469.0,36922.0,36760.0,33178.0,32465.0,30329.0,27076.0,24270.0,2.0,18234.5000,0.9941,0.00,18234.500000
180,218,SMR,San Marino,San Marino,Europe,33660.0,34007.0,33570.0,31608.0,NaN,23132.0,21346.0,18169.0,61.0,551.8033,0.9975,0.00,551.803279
76,219,GIB,Gibraltar,Gibraltar,Europe,32649.0,32709.0,32520.0,31262.0,27741.0,27317.0,28734.0,26685.0,6.0,5441.5000,0.9994,0.00,5441.500000
176,220,MAF,Saint Martin,Marigot,North America,31791.0,32552.0,35020.0,36458.0,29610.0,28127.0,7776.0,5802.0,53.0,599.8302,0.9951,0.00,599.830189
142,225,NRU,Nauru,Yaren,Oceania,12668.0,12315.0,11185.0,10241.0,10377.0,9598.0,7635.0,6663.0,21.0,603.2381,1.0125,0.00,603.238095
173,228,BLM,Saint Barthelemy,Gustavia,North America,10967.0,10681.0,9643.0,8988.0,7082.0,5168.0,2983.0,2417.0,21.0,522.2381,1.0098,0.00,522.238095
226,234,VAT,Vatican City,Vatican City,Europe,510.0,520.0,564.0,596.0,651.0,700.0,733.0,752.0,1.0,510.0000,0.9980,0.00,510.000000

In [ ]:
# Tapsiriq 20: 2022 Population-u 30 milyonla 100 milyon arasında olan ölkələri seç.

In [127]:
df[df['2022 Population'].between(30000000,100000000)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area,Density (per km²),Growth Rate,World Population Percentage,Population Density
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52,63.058692
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56,18.853110
5,42,AGO,Angola,Luanda,Africa,35588987.0,33428485.0,28127721.0,23364185.0,16394062.0,11828638.0,8330047.0,6029700.0,1246700.0,28.5466,1.0315,0.45,28.546552
8,33,ARG,Argentina,Buenos Aires,South America,45510318.0,45036032.0,43257065.0,41100123.0,37070774.0,32637657.0,28024803.0,23842803.0,2780400.0,16.3683,1.0052,0.57,16.368263
35,39,CAN,Canada,Ottawa,North America,38454327.0,37888705.0,35732126.0,33963412.0,30683313.0,27657204.0,24511510.0,21434577.0,9984670.0,3.8513,1.0078,0.48,3.851337
42,28,COL,Colombia,Bogota,South America,51874024.0,50930662.0,47119728.0,NaN,39215135.0,32601393.0,26176195.0,20905254.0,1141748.0,45.4339,1.0069,0.65,45.433865
55,15,COD,DR Congo,Kinshasa,Africa,99010212.0,92853164.0,78656904.0,66391257.0,48616317.0,35987541.0,26708686.0,20151733.0,2344858.0,42.2244,1.0325,1.24,42.224396
68,23,FRA,France,Paris,Europe,64626628.0,64480053.0,63809769.0,62444567.0,58665453.0,56412897.0,53713830.0,50523586.0,551695.0,117.1419,1.0015,0.81,117.141950
74,19,DEU,Germany,Berlin,Europe,83369843.0,83328988.0,82073226.0,81325090.0,81551677.0,79370196.0,77786703.0,78294583.0,357114.0,233.4544,0.9995,1.05,233.454424
75,47,GHA,Ghana,Accra,Africa,33475870.0,32180401.0,28870939.0,25574719.0,19665502.0,15446982.0,11865246.0,8861895.0,238533.0,140.3406,1.0196,0.42,140.340624
94,17,IRN,Iran,Tehran,Asia,88550570.0,87290193.0,81790841.0,75373855.0,65544383.0,55793629.0,38520664.0,28449705.0,1648195.0,53.7258,1.0071,1.11,53.725785
95,35,IRQ,Iraq,Baghdad,Asia,44496122.0,42556984.0,37757813.0,31264875.0,24628858.0,17658381.0,13653369.0,9811347.0,438317.0,101.5158,1.0221,0.56,101.515848
99,25,ITA,Italy,Rome,Europe,59037474.0,59500579.0,60232906.0,59822450.0,56966397.0,56756561.0,56329482.0,53324036.0,301336.0,195.9191,0.9966,0.74,195.919087
106,27,KEN,Kenya,Nairobi,Africa,54027487.0,51985780.0,46851488.0,41517895.0,30851606.0,23162269.0,16187124.0,11473087.0,580367.0,93.0919,1.0193,0.68,93.091935
122,45,MYS,Malaysia,Kuala Lumpur,Asia,33938221.0,33199993.0,31068833.0,NaN,NaN,17517054.0,13215707.0,10306508.0,330803.0,102.5934,1.0109,0.43,102.593450
138,40,MAR,Morocco,Rabat,Africa,37457971.0,36688772.0,34680458.0,32464865.0,28554415.0,24570814.0,19678444.0,15274351.0,446550.0,83.8830,1.0103,0.47,83.883039
139,48,MOZ,Mozambique,Maputo,Africa,32969517.0,31178239.0,NaN,NaN,17768505.0,13303459.0,11413587.0,8411676.0,801590.0,41.1302,1.0278,0.41,41.130150
140,26,MMR,Myanmar,Nay Pyi Taw,Asia,54179306.0,53423198.0,51483949.0,49390988.0,45538332.0,40099553.0,33465781.0,27284112.0,676578.0,80.0784,1.0071,0.68,80.078433
143,49,NPL,Nepal,Kathmandu,Asia,30547580.0,29348627.0,27610325.0,27161567.0,24559500.0,19616530.0,15600442.0,12501285.0,147181.0,207.5511,1.0171,0.38,207.551111
162,44,PER,Peru,Lima,South America,34049588.0,33304756.0,30711863.0,29229572.0,26654439.0,22109099.0,17492406.0,13562371.0,1285216.0,26.4933,1.0099,0.43,26.493281
164,37,POL,Poland,Warsaw,Europe,39857145.0,38428366.0,38553146.0,38597353.0,38504431.0,38064255.0,35521429.0,32482943.0,312679.0,127.4698,1.0404,0.50,127.469849
182,41,SAU,Saudi Arabia,Riyadh,Asia,36408820.0,35997107.0,32749848.0,29411929.0,21547390.0,16004763.0,10171710.0,6106191.0,2149690.0,16.9368,1.0128,0.46,16.936777
193,24,ZAF,South Africa,Pretoria,Africa,59893885.0,58801927.0,55876504.0,51784921.0,46813266.0,39877570.0,29463549.0,22368306.0,1221037.0,49.0517,1.0084,0.75,49.051654
194,29,KOR,South Korea,Seoul,Asia,51815810.0,51844690.0,50994401.0,48813042.0,46788591.0,44120039.0,38170501.0,32601143.0,100210.0,517.0722,0.9997,0.65,517.072248
196,30,ESP,Spain,Madrid,Europe,47558630.0,47363807.0,46431342.0,46572772.0,40741651.0,38889889.0,37491666.0,33792617.0,505992.0,93.9909,1.0015,0.60,93.990873
198,32,SDN,Sudan,Khartoum,Africa,46874204.0,44440486.0,38171178.0,33739933.0,26298773.0,21090886.0,16673586.0,11305206.0,1886068.0,24.8529,1.0267,0.59,24.852871
205,22,TZA,Tanzania,Dodoma,Africa,65497748.0,61704518.0,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82,69.303406
206,20,THA,Thailand,Bangkok,Asia,71697030.0,71475664.0,70294397.0,68270489.0,63066603.0,55228410.0,45737753.0,NaN,513120.0,139.7276,1.0013,0.90,139.727608
213,18,TUR,Turkey,Ankara,Asia,85341241.0,84135428.0,79646178.0,73195345.0,64113547.0,54324142.0,44089069.0,35540990.0,783562.0,108.9145,1.0067,1.07,108.914471
217,31,UGA,Uganda,Kampala,Africa,47249585.0,44404611.0,37477356.0,32341728.0,24020697.0,17586630.0,13284026.0,10317212.0,241550.0,195.6100,1.0304,0.59,195.609957
218,38,UKR,Ukraine,Kiev,Europe,39701739.0,43909666.0,44982564.0,45683020.0,48879755.0,51589817.0,49973920.0,47279086.0,603500.0,65.7858,0.9120,0.50,65.785814
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85,277.928925
224,43,UZB,Uzbekistan,Tashkent,Asia,34627652.0,33526656.0,30949417.0,28614227.0,24925554.0,20579100.0,15947129.0,12011361.0,447400.0,77.3975,1.0160,0.43,77.397523
228,16,VNM,Vietnam,Hanoi,Asia,98186856.0,96648685.0,92191398.0,87411012.0,79001142.0,66912613.0,52968270.0,41928849.0,331212.0,296.4472,1.0074,1.23,296.447158
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,63.823213